@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;700&family=Noto+Serif&display=swap');

:root {
    --text: rgb(246, 247, 242);
    --background: rgb(32, 30, 19);
    --primary: rgb(176, 176, 130);
    --secondary: rgb(66, 84, 64);
    --accent: rgb(158, 194, 167);
    --hover: rgb(214, 214, 89);

    --funte-titulos: 'IBM Plex Mono', monospace;
    --funte-corrido: 'Noto Serif', serif;
}

*:not(dialog),
*::after,
*::before { 
    margin: 0; 
    padding: 0;
}

.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}

html {
    font-size: 100%;
}

body {
    font-family: var(--funte-corrido); 
    font-weight: 400;
    color: var(--text);
    background-color: var(--background);
}
h1 {
    font-family: var(--funte-titulos);
    font-weight: 300;
    font-size: 1rem;
}
h2 {
    font-family: var(--funte-titulos);
    font-weight: 700;
    font-size: 1.4rem;
    text-wrap: balance;
}

nav {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 1.5rem;

    position: fixed;
    width: calc(100vw - 2rem);
    top: 0;

    padding: 0.5rem 1rem;
    background-color: var(--secondary);

    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--text);
}
.logo svg{
    height: 30px;
    fill: var(--text);
}
menu {
    list-style: none;
    
    display: flex;
    gap: 1rem
}
menu label {
    background: none;
    border: none;
    font-family: var(--funte-titulos);
    font-weight: 300;
    color: var(--primary);
    cursor: pointer;
}
menu label:hover {
    color: var(--hover);
    text-decoration: underline;
    text-decoration-color: var(--hover);
    text-decoration-style: dotted;
}
menu input {
    display: none;
}
menu input[type="radio"]:checked + label {
    color: var(--text);
    text-decoration: underline;
    text-decoration-color: var(--text);
}
menu input[type="checkbox"]:checked + label .ascendente {
    display: inline;
}
menu input[type="checkbox"]:checked + label .descendente {
    display: none;
}
menu input[type="checkbox"]:not(:checked) + label .descendente {
    display: inline;
}
menu input[type="checkbox"]:not(:checked) + label .ascendente{
    display: none;
}
#ordenarBiblioteca {
    margin: 0 auto;
}
#nuevoLibro {
    margin: 0 0 0 auto;
}
button {
    padding: 0.5rem 1rem;
    border: none;
    background: none;
    background-color: var(--accent);
    font-family: var(--funte-titulos);
    font-weight: 700;
    border-radius: 1rem;
    color: var(--background);
}
button:hover {
    background-color: var(--hover);
    color: var(--secondary);
}

main {
    padding: 10rem 2rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: 2rem;
}
@media (min-width: 650px) {
    main {
        padding: 5rem 2rem 0;
    }

}
.ficha {
    background-color: var(--accent);
    transition: transform 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    border-radius: 1rem ;
    box-shadow: 0 5px 15px 0 rgb(9, 10, 5);
}
.ficha:hover {
    transform: scale(1.05);
}
.ficha:focus-visible, .ficha:focus-within {
    outline: solid 1px var(--primary);
    outline-offset: 3px;
}
.ficha p {
    max-width: 55ch;
}
.ficha__imagen {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}
.ficha[data-leido="true"] .ficha__imagen {
    mix-blend-mode: normal;
}
.ficha[data-leido="false"] .ficha__imagen {
    mix-blend-mode: luminosity;
    opacity: 0.5;
}

.ficha[data-leido="true"] .ficha__leido {
    display: inline;
}
.ficha[data-leido="true"] .ficha__leer {
    display: none;
}
.ficha[data-leido="false"] .ficha__leido {
    display: none;
}
.ficha[data-leido="false"] .ficha__leer {
    display: inline;
}

.ficha__autoria{
    margin: 1rem;
    color: var(--background);
}
.ficha__informacion {
    margin: 0 1rem 0rem 3rem;
    color: var(--secondary);
}
.ficha__acciones {
    display: flex;
    gap: 0.2rem;
    justify-content: flex-end;
    margin: 1rem 0.5rem 0.5rem;
}
.ficha__acciones button,
.ficha__acciones a {
    background: none;
    border: none;
    color: var(--secondary);
    border-radius: 0;
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.ficha__acciones button:hover,
.ficha__acciones a:hover {
    color: var(--background);
}
.ficha__acciones button:focus-visible,
.ficha__acciones a:focus-visible {
    outline: solid 1px var(--background);
}
.nuevoLibroMain {
    background-color: var(--secondary);
    height: 100%;
    width: 100%;
    aspect-ratio: 1;
    opacity: 0.5;
    transition: opacity 0.1s ease-in-out,
        transform 0.2s ease-in-out;
}
.nuevoLibroMain:hover {
    opacity: 1;
    transform: scale(1.05);
}
.nuevoLibroMain span:last-child {
    font-size: 15rem;
    transition: transform 0.2s ease-in-out;
}
.nuevoLibroMain:hover span:last-child {
    transform: rotate(90deg);
}

::backdrop {
    background: rgb(66 84 64 / 0.5);
    -webkit-backdrop-filter: blur(5px);
			backdrop-filter: blur(5px);
}
dialog {
    box-sizing: border-box;
    width: clamp(350px, 50%, 500px);
    overflow: scroll;
    background-color: var(--background);
    border: none;
    border-radius: 1rem;
    color: var(--text);
    padding: 1.5rem;
}
fieldset {
    border: none;
}
fieldset + fieldset {
    margin: 1rem 0 0;
}
fieldset > div {
    display: flex;
    flex-direction: column;
    margin: 0 0 0.5rem;
}
#nuevoLibro input:not([type="checkbox"]),
#nuevoLibro textarea {
    margin: 0.3rem 0 0;
    border: none;
    background-color: var(--primary);
    padding: 0.2rem 0.5rem;
    color: var(--background);
    font-family: var(--funte-titulos);
    font-size: 1rem;
    line-height: 1.2;
    border-radius: 0.2rem;
}
#nuevoLibro textarea {
    resize: vertical;
}
#nuevoLibro input:focus-visible,
#nuevoLibro textarea:focus-visible {
    border: none;
    outline: solid 1px var(--primary);
    outline-offset: 2px;
}
#nuevoLibro input[type="checkbox"] ~ span {
    color: var(--primary);
}
#nuevoLibro input[type="checkbox"]:checked + span {
    display: inline;
} 
#nuevoLibro input[type="checkbox"]:checked ~ span:last-child {
    display: none;
} 
#nuevoLibro input[type="checkbox"]:not(:checked) + span {
    display: none;
} 
#nuevoLibro input[type="checkbox"]:not(:checked) ~ span:last-child {
    display: inline;
} 
fieldset:last-child {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}
#cerrarModal {
   background: none;
   border: solid 1px var(--accent);
   color: var(--accent);
}
#cerrarModal:hover {
   background: var(--hover);
   border: solid 1px var(--hover);
   color: var(--background);
}

button {
    cursor: pointer;
}
